@using AddressBook
@model IEnumerable<AddressBook.DataAccess.Phone>

@{
  ViewBag.Title = @Resources.Phones;
}

<h2>@ViewBag.Title</h2>

<p>
  @if (Roles.IsUserInRole("Admin"))
  {
    @Html.ActionLink(@Resources.Create, "Create", new { id = ViewBag.PersonId })
  }
</p>
<table>
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.PhoneNumber)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Person.Name)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Person.Name)
      </td>
      <td>
        @if (Roles.IsUserInRole("Admin"))
        {
          @Html.ActionLink(@Resources.Edit, "Edit", new { id = item.Id })
          <text>|</text>
          @Html.ActionLink(@Resources.Delete, "Delete", new { id = item.Id })
        }
      </td>
    </tr>
  }

</table>
