@model AddressBook.Core.DataAccess.Person

@{
    ViewBag.Title = "Детали";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Person</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SurName): @Html.DisplayFor(model => model.SurName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BirthDay): @Html.DisplayFor(model => model.BirthDay)
    </div>
</fieldset>
<p>
  @if (Roles.IsUserInRole("Admin"))
  {
    @Html.ActionLink(AddressBook.Resources.Edit, "Edit", new { id = Model.Id }) 
    <text>|</text>
}
  @Html.ActionLink("Назад", "Index")
</p>
